.gauge {

	min-height: 11em!important;
    /*margin: auto;
    position: absolute;
    left: 0;
    right: 0;*/
    width: 100%;
    height: 200px;

}
.sc-gauge {

        width:200px;    
        position: absolute;
        bottom: 0; 
    }

.sc-background {

        position:relative; 
        height:100px; 
        margin-bottom:10px; 
        background-color:#fff; 
        border-radius:150px 150px 0 0; 
        overflow:hidden; 
        text-align:center; 
    }

.sc-mask {

        position:absolute; 
        top:20px; 
        right:20px; 
        left:20px; 
        height:80px; 
        background-color:#191722; 
        border-radius:150px 150px 0 0 
    }

.sc-percentage {

        position:absolute; 
        top:100px; 
        left:-200%; 
        width:400%; 
        height:400%;
        margin-left:100px; 
        background-color:#b5ff00;
        transition:2s; 
    }


#photoshop .sc-percentage {

        transform:rotate(144deg); 
        transform-origin:top center; 
    }

#illustrator .sc-percentage { 

    transform:rotate(144deg); 
    transform-origin:top center; 
}

#html .sc-percentage { 

    transform:rotate(162deg); 
    transform-origin:top center; 
}

#css .sc-percentage { 

    transform:rotate(162deg); 
    transform-origin:top center; 
}

#javascript .sc-percentage { 

    transform:rotate(140deg); 
    transform-origin:top center; 
}

#jquery .sc-percentage { 

    transform:rotate(162deg); 
    transform-origin:top center; 

}

.sc-min { 

    float:left; 
	font-family: "Rubik", sans-serif;
}

.sc-max { 

    float:right;
	font-family: "Rubik", sans-serif;
	color:#b5ff00; 

}

.sc-value { 

	position: absolute;
    top: 63%;
    left: 0;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    font-family: "Rubik", sans-serif;

}