#tilt-portfolio-holder {
    position: relative;
    left: 0;
    top:0;
    width:100%;
    padding:20px 0 20px 0;
    overflow:auto;
}

.tilty {
    position: relative;
    overflow:hidden;
    background-color: #b5ff00;
    cursor:crosshair;
}

#tilty-1 {
    left: 0%;
    top: 280px;
    width: 30%;
    height: 560px;
}

#tilty-2 {
    left: 40%;
    bottom: 465px;
    width: 60%;
    height: 600px;
}

#tilty-3 {
    left: 0%;
    top: -210px;
    width: 60%;
    height: 600px;
}

#tilty-4 {
    left: 70%;
    bottom: 960px;
    width: 30%;
    height: 560px;
}

.color-swipe-white, .color-swipe-white2, .color-swipe-white3, .color-swipe-white4 {
    pointer-events: none;
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    right:0;
    -webkit-transition: all linear;
    -moz-transition: all linear;
    -o-transition: all linear;
    transition: all linear;
    z-index: 7;
}

.color-swipe-blue, .color-swipe-blue2, .color-swipe-blue3, .color-swipe-blue4 {
    pointer-events: none;
    background-color: #111d27;
    height: 100%;
    width: 600%;
    position: absolute;
    z-index: 2;
    right:100%;
        -webkit-transition: all linear;
    -moz-transition: all linear;
    -o-transition: all linear;
    transition: all linear;
    z-index: 7;
}

.flex-container,
.c-logo {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.c-logo {
    width: 100%;
    height: 100%;
    background-color: #b5ff00;
    color: white;
    text-decoration: none;
    font-size: 4em;
    font-weight: 300;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: perspective(500px);
    transform: perspective(500px);
    z-index: 2;
    transform-style: preserve-3d;
    
}

.c-logo-shadow {

    -webkit-box-shadow: 0 20px 70px -10px rgba(0, 0, 0, 0), 0 50px 100px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 20px 70px -10px rgba(0, 0, 0, 0), 0 50px 100px 0 rgba(0, 0, 0, 0.2);

}

.c-logo>a {

    width: 100%;
    height: 100%;
}

.c-logo>img {
    z-index: 5;
    display: block;
    -webkit-transform: translateZ(50px) scale(0.6);
    transform: translateZ(50px) scale(0.6);
    text-shadow: -2px -1px 2px #969696;
    width: 100%;
    height: 100%;
    transform: translateZ(100px);
}

.c-logo:hover:after {
    -webkit-transform: translateZ(-100px);
    transform: translateZ(-100px);
}

.portfolio-title {
    z-index: 6;
    transform: translateZ(1000px);
    position:  absolute;
}